<!DOCTYPE html>
<html>
    <head>
        <title>weather app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          <div class ="headline">
            Weather Journal App
          </div>
          <div class ="date">
            <label for="date">Enter date here</label><br>
            <input type="text" id="date" placeholder="Ex : 09-05-20">
          </div>
          <div class ="city">
            <label for="city">Enter city here</label><br>
            <input type="text" id="city" placeholder="Ex : chicago">
          </div>
          <button id="generate" type = "submit"> Generate </button>
          <div class ="entry">
            <div id = "latitude"></div> 
            <div id = "longitude"></div>
            <div id = "country"></div>
          </div>
    </body>
</html>